{% extends 'base.html' %}

{% block content %}
<div class="bg">
    <div class="container">
        <nav class="navbar ">
          
            <a class="navbar-brand" href="{%url 'Welcome'%}">
                <p class="d-inline-block logoText text-white fst-italic">Pho-Galleria
                </p>
            </a>
            <nav class="navbar navbar-expand-lg ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
        
                <div class="collapse navbar-collapse" id="navbarNav">
                    <form class="form-inline my-2 my-lg-0 searchSpacing mx-5">
                        <input class="form-control mr-sm-2 input-field  searchbar text-center" type="search" placeholder="Search for a category" 
                            aria-label="Search" [(ngModel)]="searchText" name="searchText">
                    </form>

                    <ul class="navbar-nav mx-5">
                    
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Category
                            </a>
                            <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                              {% for cat in category %}

                              <li><a class="dropdown-item " href="{% url 'filterCategory' cat.name %}">{{cat.name}}</a></li>
                              {% endfor %}

                            </ul>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Location
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              {% for location in location %}

                              <li><a class="dropdown-item " href="{% url 'filterLocation' location.name %}">{{location.name}}</a></li>
                              {% endfor %}
    
                            </ul>
                          </li>
                          
                        <!-- <li class="nav-item">
                            <a class="nav-link" routerLink="/booklist" routerLinkActive="active">Books</a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link" routerLink="/bookrequest" routerLinkActive="active">Book Request</a>
                        </li> -->
                            </ul>
        
                </div>
               
            </nav>
        </nav>
    </div>
    <div class="pho">

    <p class="h2 text-center txt-pho">Pho-Galleria</p>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br> Laudantium totam voluptate voluptates nemo fugit.</p>

    </div>      
</div>
<p class="text-center txt-pho mt-5 h5">Gallery</p>
<div class="container">
    
    <div class="row ">
      {% for pho in photos_album %}

      <div class="col-md-3 my-3">
    <a ><img src="{{pho.photo.url}}"  data-bs-toggle="modal" data-bs-target="#modal{{pho.id}}" class="img-responsive img-fluid" alt="Image" id="image-url" >
    </a>
        </div>
        <div class="modal fade" id="modal{{pho.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="name">{{pho.name}}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="{{pho.photo.url}}" id="" class="img-responsive img-fluid" alt="">
                <p id="description">{{pho.description}}</p>
                <p id="location">{{pho.location}}</p>
                <p id="category">{{pho.category}}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>

</div>


{% endblock %}