* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

.testing {
    color: brown;
}

.bg {
    background-image: url('../landing.png');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.pho {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.txt-pho {
    letter-spacing: 0.7rem;

}

.searchbar {
    border-radius: 0.7rem;
}

.btn-secondary,
.btn-secondary:hover {
    background-color: #000000;
    color: #FFFFFF;
}
.close {

    opacity: 1;
    border:none !important;
    transition: background 0.2s ease-in-out;
    background: none;
    font-size: 24px;

}
/* .zoom-in {
    transform: scale(0)!important;
    opacity: 0;
    -webkit-transition: 1s all 0s;
    -moz-transition: 1s all 0s;
    -ms-transition: 1s all 0s;
    -o-transition: 1s all 0s;
    transition: 1s all 0s;
    display: block !important;
  }
  
  .zoom-in.show {
    opacity: 1;
    transform: scale(1)!important;
    transform:none;
  } */
.results{
    
    height: 80vh;


}
  .Input{
      display: none;
  }
  @media only screen and (max-width:600px){
    .pho {
       display: none;
    }
  
}